In [12]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [8]:
data = pd.read_excel("Weather.xlsx")
print(list(data.columns))

['Outlook', 'Temperature', 'Humidity', 'Windy', 'Beach Weather']

In [9]:
print(data.shape)

(43, 5)

In [10]:
data.head()

    Outlook Temperature Humidity  Windy Beach Weather
0     Rainy         Hot     High  False            No
1     Rainy         Hot     High   True            No
2  Overcast         Hot     High  False           Yes
3     Sunny        Mild     High  False           Yes
4     Sunny        Cool   Normal  False           Yes

In [20]:
le = LabelEncoder()
outlook_encoded = le.fit_transform(data['Outlook'])
print(outlook_encoded)

[1 1 0 2 2 2 0 1 1 2 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 0 0
 0 0 0 0 0 0]

In [15]:
data['outlook_encoded'] = outlook_encoded
print(data)

     Outlook Temperature Humidity  Windy Beach Weather  outlook_encoded
0      Rainy         Hot     High  False            No                1
1      Rainy         Hot     High   True            No                1
2   Overcast         Hot     High  False           Yes                0
3      Sunny        Mild     High  False           Yes                2
4      Sunny        Cool   Normal  False           Yes                2
5      Sunny        Cool   Normal   True            No                2
6   Overcast        Cool   Normal   True           Yes                0
7      Rainy        Mild     High  False            No                1
8      Rainy        Cool   Normal  False           Yes                1
9      Sunny        Cool   Normal  False           Yes                2
10     Rainy        Cool   Normal   True           Yes                1
11     Sunny         Hot     High   True           Yes                2
12     Sunny         Hot     High  False           Yes                2
13     Sunny         Hot   Normal   True           Yes                2
14     Sunny         Hot   Normal  False           Yes                2
15     Sunny        Cool     High   True            No                2
16     Sunny        Cool     High  False            No                2
17     Sunny        Cool   Normal   True            No                2
18     Sunny        Cool   Normal  False            No                2
19     Sunny        Mild     High   True           Yes                2
20     Sunny        Mild     High  False           Yes                2
21     Sunny        Mild   Normal   True           Yes                2
22     Sunny        Mild   Normal  False           Yes                2
23     Rainy         Hot     High   True            No                1
24     Rainy         Hot     High  False            No                1
25     Rainy         Hot   Normal   True            No                1
26     Rainy         Hot   Normal  False            No                1
27     Rainy        Cool     High   True            No                1
28     Rainy        Cool     High  False            No                1
29     Rainy        Cool   Normal   True            No                1
30     Rainy        Cool   Normal  False            No                1
31     Rainy        Mild     High   True            No                1
32     Rainy        Mild     High  False            No                1
33     Rainy        Mild   Normal   True            No                1
34     Rainy        Mild   Normal  False            No                1
35  Overcast        Cool     High   True            No                0
36  Overcast        Cool     High  False            No                0
37  Overcast        Cool   Normal   True            No                0
38  Overcast        Cool   Normal  False            No                0
39  Overcast        Mild     High   True           Yes                0
40  Overcast        Mild     High  False           Yes                0
41  Overcast        Mild   Normal   True           Yes                0
42  Overcast        Mild   Normal  False           Yes                0

In [22]:
temperature_encoded = le.fit_transform(data['Temperature'])
print(temperature_encoded)

[1 1 1 2 0 0 0 2 0 0 0 1 1 1 1 0 0 0 0 2 2 2 2 1 1 1 1 0 0 0 0 2 2 2 2 0 0
 0 0 2 2 2 2]

In [25]:
data['temperature_encoded'] = temperature_encoded
print(data)

     Outlook Temperature Humidity  Windy Beach Weather  outlook_encoded  \
0      Rainy         Hot     High  False            No                1
1      Rainy         Hot     High   True            No                1
2   Overcast         Hot     High  False           Yes                0
3      Sunny        Mild     High  False           Yes                2
4      Sunny        Cool   Normal  False           Yes                2
5      Sunny        Cool   Normal   True            No                2
6   Overcast        Cool   Normal   True           Yes                0
7      Rainy        Mild     High  False            No                1
8      Rainy        Cool   Normal  False           Yes                1
9      Sunny        Cool   Normal  False           Yes                2
10     Rainy        Cool   Normal   True           Yes                1
11     Sunny         Hot     High   True           Yes                2
12     Sunny         Hot     High  False           Yes                2
13     Sunny         Hot   Normal   True           Yes                2
14     Sunny         Hot   Normal  False           Yes                2
15     Sunny        Cool     High   True            No                2
16     Sunny        Cool     High  False            No                2
17     Sunny        Cool   Normal   True            No                2
18     Sunny        Cool   Normal  False            No                2
19     Sunny        Mild     High   True           Yes                2
20     Sunny        Mild     High  False           Yes                2
21     Sunny        Mild   Normal   True           Yes                2
22     Sunny        Mild   Normal  False           Yes                2
23     Rainy         Hot     High   True            No                1
24     Rainy         Hot     High  False            No                1
25     Rainy         Hot   Normal   True            No                1
26     Rainy         Hot   Normal  False            No                1
27     Rainy        Cool     High   True            No                1
28     Rainy        Cool     High  False            No                1
29     Rainy        Cool   Normal   True            No                1
30     Rainy        Cool   Normal  False            No                1
31     Rainy        Mild     High   True            No                1
32     Rainy        Mild     High  False            No                1
33     Rainy        Mild   Normal   True            No                1
34     Rainy        Mild   Normal  False            No                1
35  Overcast        Cool     High   True            No                0
36  Overcast        Cool     High  False            No                0
37  Overcast        Cool   Normal   True            No                0
38  Overcast        Cool   Normal  False            No                0
39  Overcast        Mild     High   True           Yes                0
40  Overcast        Mild     High  False           Yes                0
41  Overcast        Mild   Normal   True           Yes                0
42  Overcast        Mild   Normal  False           Yes                0

    temperature_encoded
0                     1
1                     1
2                     1
3                     2
4                     0
5                     0
6                     0
7                     2
8                     0
9                     0
10                    0
11                    1
12                    1
13                    1
14                    1
15                    0
16                    0
17                    0
18                    0
19                    2
20                    2
21                    2
22                    2
23                    1
24                    1
25                    1
26                    1
27                    0
28                    0
29                    0
30                    0
31                    2
32                    2
33                    2
34                    2
35                    0
36                    0
37                    0
38                    0
39                    2
40                    2
41                    2
42                    2